.sec1{
    background-color:darkgrey;
}

.sec2{
    text-align: center;
    background-image: url(brk.jpeg);
    background-size: cover;
    padding: 100px 50px;
   background-color: rgba(red, green, blue, alpha);
}

.sec3{
    text-align: center;
    background-color: rgb(105, 97, 97);
    padding: 50px;
}

.sec4{
    text-align: center;
    background-image: url(reshop3.jpg!w700wp);
    background-size: cover;
    /* padding: 300px 50px; */
    padding: 100px 50px;
    margin-top: 0px;
}

.sec5{
    text-align: center;
    background-image: url(food2.jfif);
    background-size: cover;
    padding: 90px;
}

.sec6{
    text-align: center;
    background-color: antiquewhite;
    padding: 50px;
}

.sec7{
    text-align: center;
    background-image: url(juice2.jpg );
    background-size: cover;
    padding: 100px 50px;
}

.box1{
    color: white; 
}
.box{
    color: white;
}
.box2{
    color:white;
}
.box3{
    color:white;
}
.box4{
    color: white;
}
.box5{
    color: white;
}
.box6{
    color:white;
}
.box7{
    color: white;
}
.box8{
    color: white;
}
.box9{
    height: 1px;
    background-color: white;
}
.box10{
    color: white;
}
.box11{
    color: white;
}
.box12{
    color: white;
}
.box13{
    color: white;
}

.sec8{
    text-align: center;
    /* height: 600px; */
    padding: 100px 50px;
    background-image: url(rest.webp);
    background-size: cover;
}

.sec9{
    background-color: lightsalmon;
    /* height: 200px; */
    text-align: center;
    padding: 50px;
}

.sec10{
    text-align: center;
    /* height: 500px; */
    /* padding: 100px 100px 100px 120px; */
    padding: 100px 50px;
    background-image: url(cook.avif);
    background-size: cover;
} 

.sec11{
    background-color:rgb(54, 52, 52);
    margin-top: 0px;
    padding: 50px;
}